@import url(Root.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Kanit, sans-serif;
}
body {
  background-color: rgb(240, 240, 240);
}
header {
  position: sticky;
  top: 0;
  right: 0;
  z-index: 10;
  margin-left: auto;
  width: 600px;
  background-color: var(--dark-green);
  border-bottom-left-radius: 30px;
  letter-spacing: 0;
}
@media (max-width: 500px) {
  header {
    width: 100%;
  }
}
header ul {
  display: flex;
  gap: 20px;
  list-style: none;
  justify-content: center;
  font-size: 1.6rem;
}
header a {
  text-decoration: none;
  color: var(--white);
}
header li {
  padding: 0.8rem;
  border-radius: 20px;
}
header li:hover {
  background-color: var(--hover);
  transition: 0.4s;
}

section {
  background-color: var(--white);
  height: 70vh;
  width: 70vw;
  box-shadow: 5px 5px 5px 5px var(--white), -5px -5px 5px 5px var(--white),
    5px -5px 5px 5px var(--white), -5px 5px 5px 5px var(--white);
  border-radius: 20px;
  margin: 5% auto 10% auto;
}
#Home h1 {
  text-align: center;
  font-size: 4.5rem;
  padding-top: 10%;
}
#Home p {
  text-align: center;
  font-size: 1.4rem;
  width: 60%;
  padding-top: 5%;
  margin: 0 auto 5% auto;
}
#Home a {
  background-color: var(--red);
  padding: 10px 20px;
  border-radius: 20px;
  color: var(--white);
  font-size: 1.6rem;
  text-decoration: none;
}
#Home a:hover {
  background: rgb(0, 0, 0, 0.3);
  color: var(--black);
  transition: 0.4s;
  box-shadow: 2px 2px 2px 2px rgb(0, 0, 0, 0.3),
    -2px -2px 2px 2px rgb(0, 0, 0, 0.3), 2px -2px 2px 2px rgb(0, 0, 0, 0.3),
    -2px 2px 2px 2px rgb(0, 0, 0, 0.3);
}
#cta {
  display: flex;
  justify-content: center;
}
#Waffen h2 {
  font-size: 3rem;
  text-align: center;
  text-decoration: underline;
}
#Waffen-Katalog {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
  height: 80%;
  margin-top: 4%;
}
#Waffen-Katalog > * {
  outline: 1px solid black;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
}
#Sonstiges {
  grid-column: span 3;
  width: 80%;
  margin: 0 auto;
}
.covertext {
  position: absolute;
  font-size: 2rem;
}
.Vorschau {
  cursor: default;
}
.Vorschau:hover .covertext {
  opacity: 0;
  transform: translateY(-20px);
  transition: 1s;
}
.Vorschau:hover .content {
  opacity: 1;
  transition: 1s;
  transition-delay: 0.5s;
}
.content {
  height: 100%;
  width: 100%;
  opacity: 0;
}
.content:hover::after {
  width: 100%;
  transition: 0.5s;
}
#Handfeuer-Content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
.content > * {
  display: flex;
  justify-content: center;
  align-items: center;
}
#Pistolen {
  transform: translate(10%, 10%);
  transition: transform 1s;
}
#Revolver {
  transform: translate(-10%, -10%);
  transition: transform 1s;
}

.Vorschau:hover #Pistolen,
.Vorschau:hover #Revolver {
  transform: translate(0%, 0%);
  transition: transform 1s;
  transition-delay: 0.5s;
}
#Mp-Content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
#Compact-Mp {
  transform: translate(-10%, -10%);
  transition: transform 1s;
}
#Standard-Mp {
  transform: translate(10%, -10%);
  transition: transform 1s;
}
#Heavy-Mp {
  transform: translate(-10%, 10%);
  transition: transform 1s;
}
#PDW-Mp {
  transform: translate(10%, 10%);
  transition: transform 1s;
}
.Vorschau:hover #Compact-Mp,
.Vorschau:hover #Standard-Mp,
.Vorschau:hover #Heavy-Mp,
.Vorschau:hover #PDW-Mp {
  transform: translate(0%, 0%);
  transition: transform 1s;
  transition-delay: 0.5s;
}
