@import url(Root.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Kanit, sans-serif;
}
body {
  background-color: rgb(240, 240, 240);
}
/* 
a {
  position: relative;
}
a::after {
  content: "";
  display: block;
  top: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background: var(--red);
  transition: width 0.6s;
  position: absolute;
}
a:hover::after {
  width: 100%;
  transition: width 0.6s;
} */
header {
  position: sticky;
  top: 0;
  right: 0;
  z-index: 10;
  margin-left: auto;
  width: 600px;
  background-color: var(--dark-green);
  border-bottom-left-radius: 30px;
  letter-spacing: 0;
}
@media (max-width: 500px) {
  header {
    width: 100%;
  }
}
header ul {
  display: flex;
  gap: 20px;
  list-style: none;
  justify-content: center;
  font-size: 1.6rem;
}
header a {
  text-decoration: none;
  color: var(--white);
}
header li {
  padding: 0.8rem;
  border-radius: 20px;
}
header li:hover {
  background-color: var(--hover);
  transition: 0.4s;
}

section {
  background-color: var(--white);
  height: 70vh;
  width: 70vw;
  box-shadow: 5px 5px 5px 5px var(--white), -5px -5px 5px 5px var(--white),
    5px -5px 5px 5px var(--white), -5px 5px 5px 5px var(--white);
  border-radius: 20px;
  margin: 5% auto 10% auto;
}
#home h1 {
  text-align: center;
  font-size: 4.5rem;
  padding-top: 10%;
}
#home p {
  text-align: center;
  font-size: 1.4rem;
  width: 60%;
  padding-top: 5%;
  margin: 0 auto 5% auto;
}
#home a {
  background-color: var(--red);
  padding: 10px 20px;
  border-radius: 20px;
  color: var(--white);
  font-size: 1.6rem;
  text-decoration: none;
}
#home a:hover {
  background: rgb(0, 0, 0, 0.3);
  color: var(--black);
  transition: 0.4s;
  box-shadow: 2px 2px 2px 2px rgb(0, 0, 0, 0.3),
    -2px -2px 2px 2px rgb(0, 0, 0, 0.3), 2px -2px 2px 2px rgb(0, 0, 0, 0.3),
    -2px 2px 2px 2px rgb(0, 0, 0, 0.3);
}
#cta {
  display: flex;
  justify-content: center;
}
h2 {
  font-size: 3rem;
  text-align: center;
  text-decoration: underline;
}
#waffenKatalog {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
  height: 80%;
  margin-top: 4%;
}
#fahrzeugKatalog > *,
#waffenKatalog > * {
  outline: 1px solid black;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
}
#sonstiges,
#sonderstücke {
  grid-column: span 3;
  width: 80%;
  margin: 0 auto;
}
.covertext {
  position: absolute;
  font-size: 2rem;
  transition: 1s;
}
.vorschau {
  cursor: default;
}
.vorschau:hover .covertext {
  opacity: 0;
  transform: translateY(-20px);
  transition: 1s;
}
.vorschau:hover .content {
  opacity: 1;
  transition: 1s;
  transition-delay: 0.5s;
}
.content {
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 1s;
}
#handfeuerContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
.content > * {
  display: flex;
  justify-content: center;
  align-items: center;
}
#pistolen {
  transform: translate(10%, 10%);
  transition: transform 1s;
}
#revolver {
  transform: translate(-10%, -10%);
  transition: transform 1s;
}

.vorschau:hover #pistolen,
.vorschau:hover #revolver {
  transform: translate(0%, 0%);
  transition: transform 1s;
  transition-delay: 0.5s;
}
#mpContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
#compactMp {
  transform: translate(-10%, -10%);
  transition: transform 1s;
}
#standardMp {
  transform: translate(10%, -10%);
  transition: transform 1s;
}
#heavyMp {
  transform: translate(-10%, 10%);
  transition: transform 1s;
}
#PDW-Mp {
  transform: translate(10%, 10%);
  transition: transform 1s;
}
.vorschau:hover #compactMp,
.vorschau:hover #standardMp,
.vorschau:hover #heavyMp,
.vorschau:hover #PDW-Mp {
  transform: translate(0%, 0%);
  transition: transform 1s;
  transition-delay: 0.5s;
}
#sturmgewehrContent,
#schrotflintenContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
#leichtGewehr,
#pumpAction {
  transform: translate(-10%, -10%);
  transition: transform 1s;
}
#standardGewehr,
#halbautomatisch {
  transform: translate(10%, -10%);
  transition: transform 1s;
}
#heavyGewehr,
#doppelläufig {
  transform: translateY(10%);
  transition: transform 1s;
  grid-column: span 2;
}
.vorschau:hover #leichtGewehr,
.vorschau:hover #standardGewehr,
.vorschau:hover #heavyGewehr,
.vorschau:hover #pumpAction,
.vorschau:hover #halbautomatisch,
.vorschau:hover #doppelläufig {
  transform: translate(0%, 0%);
  transition: transform 1s;
  transition-delay: 0.5s;
}
#sniperContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
#boldAndActionSniper {
  transform: translateX(-10%);
  transition: transform 1s;
}
#halbAutomatischSniper {
  transform: translateX(10%);
  transition: transform 1s;
}
#taktischSniper {
  transform: translateX(-20%);
  transition: transform 1s;
}
#antiMaterialSniper {
  transform: translateX(20%);
  transition: transform 1s;
}
#autonomeSniper {
  transform: translateY(20%);
  transition: transform 1s;
  grid-column: span 2;
}
.vorschau:hover #boldAndActionSniper,
.vorschau:hover #halbAutomatischSniper,
.vorschau:hover #taktischSniper,
.vorschau:hover #antiMaterialSniper,
.vorschau:hover #autonomeSniper {
  transform: translate(0%, 0%);
  transition: transform 1s;
  transition-delay: 0.5s;
}

#grosskaliberContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
#panzerabwehrGrosskaliber {
  transform: translate(-10%, -10%);
  transition: transform 1s;
}
#granatwerferGrosskaliber {
  transform: translate(10%, -10%);
  transition: transform 1s;
}
#raketenwerferGrossklaiber {
  transform: translate(-10%, 10%);
  transition: transform 1s;
}
#antiMaterialGrosskaliber {
  transform: translate(10%, 10%);
  transition: transform 1s;
}
.vorschau:hover #panzerabwehrGrosskaliber,
.vorschau:hover #granatwerferGrosskaliber,
.vorschau:hover #raketenwerferGrossklaiber,
.vorschau:hover #antiMaterialGrosskaliber {
  transform: translate(0%, 0%);
  transition: transform 1s;
  transition-delay: 0.5s;
}
#sonstigesContent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 20px;
}
#granaten {
  transform: translateY(10%);
  transition: transform 1s;
}
#bögen {
  transform: translateY(15%);
  transition: transform 1s;
}
#armbrüste {
  transform: translateY(20%);
  transition: transform 1s;
}
#verteidigung {
  transform: translateY(25%);
  transition: transform 1s;
}
.vorschau:hover #granaten,
.vorschau:hover #bögen,
.vorschau:hover #armbrüste,
.vorschau:hover #verteidigung {
  transform: translate(0%, 0%);
  transition: transform 1s;
  transition-delay: 0.5s;
}
.waffenCover {
  text-decoration: none;
  color: var(--black);
}
.waffenCover:hover {
  text-decoration: underline;
}
/*  FAHRZEUGE  */

#fahrzeugKatalog {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
  height: 80%;
  margin-top: 4%;
}
.info {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  padding: 5%;
}
