@import url(Root.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 2000px;
  background-color: var(--dark-green);
  color: var(--white);
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: var(--olive-green);
  height: 80px;
}
nav {
  float: right;
  font-size: clamp(1em, 1.5vw, 1.8em);
  border-radius: 20px 0 0 20px;
  padding: 10px 30px 0 0;
}

a {
  color: var(--white);
  text-decoration: none;
  cursor: pointer;
}
li {
  float: left;
  list-style-type: none;
  border-radius: 20px;
  padding: 10px;
}
li:hover {
  background-color: var(--hover);
  transition: 0.5s;
}
#drop {
  display: block;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  background-color: var(--olive-green);
  right: 10px;
  top: 70px;
  width: min-content;
  padding: 10px;
  border-radius: 0 0 20px 20px;
  transform: translateY(-30px);
  z-index: 1;
}

#dropBox:checked ~ label + #drop {
  opacity: 1;
  pointer-events: auto;
  transition: 0.5s;
  transform: translateY(0);
}
#dropBox:checked ~ label::after {
  translate: rotate(180deg);
}
label {
  position: relative;
}
label::after {
  content: "⌄";
  position: absolute;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
  width: 20px;
  height: 20px;
}
#drop li {
  display: block;
  padding: 10px;
  text-align: center;
}
#logo {
  font-size: clamp(2em, 3vw, 4em);
  color: var(--gold);
  padding: 10px;
  text-shadow: 2px 2px 2px var(--black), -2px -2px 2px var(--black),
    2px -2px 2px var(--black), -2px 2px 2px var(--black);
  width: max-content;
  cursor: default;
}
#menu-toggle {
  display: none;
}
#member:hover {
  background: linear-gradient(90deg, var(--gold), var(--red));
}

#Home {
  background-image: url(../img/background.jpeg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
  box-shadow: 5px 5px 10px var(--black), -5px 5px 10px var(--black);
  width: 100%;
}
#Home h1 {
  font-size: clamp(2em, 5vw, 5em);
  letter-spacing: 0;
  text-shadow: 2px 2px 2px var(--black), -2px -2px 2px var(--black),
    2px -2px 2px var(--black), -2px 2px 2px var(--black);
  text-align: center;
  padding-top: 20vh;
  font-size: clamp(2em, 5vw, 5em);
}
#Home p {
  font-size: clamp(1em, 2vw, 2em);
  text-align: center;
  padding-top: 2vh;
  letter-spacing: 1px;
  width: 60%;
  margin: auto;
}
#cta {
  display: block;
  width: max-content;
  margin: 10vh auto;
}
#Hero-Button {
  padding: 15px 30px;
}
/* ABOUT SECTION */

#About {
  padding: 10vh 0;
  width: 90%;
  margin: auto;
}

h2 {
  font-size: clamp(1.75em, 4vw, 3.75em);
  text-align: center;
  padding-bottom: 3vh;
}
#text {
  font-size: clamp(0.75rem, 1.5vw, 1.5rem);
  width: 60%;
  display: inline-block;
  padding-left: 50px;
}
#text p {
  padding-bottom: 5%;
  letter-spacing: 0;
  line-height: 1.3;
}
#container {
  display: flex;
  align-items: center;
}
#Jasper {
  width: 25%;
  margin-left: 40px;
  display: inline-block;
}
#Jasper div {
  width: 100%;
  overflow: hidden;
}

#Jasper-Content {
  text-align: center;
  padding-top: 10px;
  font-size: 0.7rem;
}
#Motto {
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
  padding-top: 10vh;
}
.externe-Verlinkung {
  font-family: "Times New Roman", Times, serif;
  color: var(--black);
  text-decoration: underline;
  padding: 5px 10px;
  display: inline-block;
  background-color: var(--red);
  margin-left: calc(50% - 70px);
  border-radius: 10px;
  transition: 0.5s;
  box-shadow: 3px 2px 4px red, -3px -2px 4px black;
}
.externe-Verlinkung:hover {
  color: var(--gold);
  background-color: var(--black);
  box-shadow: 3px 2px 4px #000, -3px -2px 4px #000;
}
hr {
  width: 30%;
  margin: 13vh auto 17vh auto;

  height: 2px;
  border: 1px solid var(--gold);
  box-shadow: 2px 0 2px var(--red), -2px 0 2px var(--red);
}

section {
  width: 90%;
  margin: 0 auto;
}
#Angebote p {
  text-align: center;
  font-size: clamp(1em, 2vw, 2em);
  margin-bottom: 50px;
}
.offer-card {
  background-color: var(--grey);
  margin: 2%;
  min-width: 300px;
  width: 30%;
  max-width: 500px;
  color: #000;
  border-radius: 20px;
  overflow: hidden;
  display: inline-block;
  padding-bottom: 10px;
}
.offer-card h3 {
  text-align: center;
  padding: 10px;
  font-size: clamp(1em, 2vw, 2em);
  font-weight: bold;
}
.offer-card p {
  padding: 10px;
  font-size: clamp(1em, 1.5vw, 1.8em);
  margin-bottom: 20px;
}
